.mainContainer{
    position : absolute;
    width : 20rem;
    height : 38rem;
    background-image : url("/gifts_table_paper.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#65563e;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}


.mainTitle{
    width: 80%;
    text-align : center;
    font-family: newiconscript;
    font-size: 1.7em;
}

.subtitle{
    font-size: 0.9em;
    width: 85%;
    font-family: texgyrebonum;
}

.amazonContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 70%;
    padding-top: 1em;
}

.amazonButton{
    width: 4em;
    height: 100%;
    border: 1px solid #65563e;
    cursor: pointer;
}

.amazonButton:hover{
    background-color: #65563e;
    color:beige;
}

.buttonText{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    font-family: texgyrebonum;
}

.giftImgStyle{
    width: 5em;
    padding-top: 0.5em;
}

.envelopeImgStyle{
    width: 4em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

@media (max-width: 359px) {
    .mainContainer{
        width: 18rem;
        height: 34rem;
    }

    .subtitle{
        font-size: 0.75em;
    }

    .giftImgStyle{
        width: 4em;
        padding-top: 0.5em;
    }

    .envelopeImgStyle{
        width: 3em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
}

@media (max-height: 625px) {
    .mainContainer{
        width: 16rem;
        height: 30rem;
    }
    .mainTitle{
        width: 80%;
        text-align : center;
        font-family: newiconscript;
        font-size: 1.4em;
    }
    .subtitle{
        font-size: 0.65em;
    }

    .giftImgStyle{
        width: 4em;
        padding-top: 0.5em;
    }

    .envelopeImgStyle{
        width: 3em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
}