.mainContainer{
    position : absolute;
    width : 18rem;
    height : 27rem;
    background-image : url("/shell_white_paper.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:      #65563e;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.text{
    width: 19rem;
    text-align : center;
    font-family: texgyrebonum;
}

.italicsText{
    width: 15rem;
    text-align : center;
    font-family: newiconscript;
}

.namesHeader{
    display: flex;
    width: 17em;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.6em;
}

@media (max-width: 359px) {
    .mainContainer{
        width: 16rem;
        height: 25rem;
    }

    .text{
        width: 16rem;
    }

    .namesHeader{
        width: 16rem;
    }
}