.floatContainer{
    position: fixed;
    bottom: 15px;
    right: 15px;
    
    width: 2.2em;
    height: 2.2em;

    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
